.home-section {
  color: #fff;
  padding: 160px 0px;
  width: 100%;
  /* max-width: 1500px; */
  /* padding-right: 50px; */
}

.container {
  padding-left: 50px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.home-section-row {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  /* margin-right: -15px; */
  margin-bottom: -15px;
  margin-left: -15px;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home-section-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}

.home-section-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home-section-img-wrapper {
  max-width: 555px;
  
}

.home-section-img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* @media screen and (max-width: 990px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
} */

@media screen and (max-width: 770px) {
  .home-section-text-wrapper {
    padding-bottom: 65px;
  }

  .home-section-img-wrapper {
    margin-left: 0px;
  }

  .home-section-img {
    margin-left: -10px;
  }


  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
